@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.black-and-white {
  filter: grayscale(100%) brightness(0%);
}
.flip {
  transform: scaleX(-1);
}