@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
main{
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;;
}